.table-container{
    margin: auto;
    margin-top: 15px;
    width: 950px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2{
    background-color: #808080;
    padding: 20px;
    border-radius: 15px;
    color:#000000;
    text-decoration-line:underline;
    font-size: 35px;
    font-weight: 700;
    margin: auto;
    margin-top: 30px;
}

table{
    text-align: left;
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,td{
    padding: 10px;
    border: solid 1px #000000;
}

thead{
    font-weight: 700;
    background-color: #747474;
    border-bottom: solid #000000;
    color:#ff0000;
}

tr:nth-child(even){
    background-color: #808080;
}

tr:hover td{
    background-color: #000000;
    color:#00ff0d;
    cursor:pointer;
}